includes:
    - ../../vendor/cakephp/cakephp/phpstan.neon.dist

parameters:
    level: 6
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - src/
        - config/
        - tests/
    excludePaths:
        - docs/*
        - scripts/*
