name: CI

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Validate plugin composer.json
        run: composer validate plugins/CakeBackupPro/composer.json

      - name: Lint plugin PHP files
        run: |
          find plugins/CakeBackupPro -name "*.php" -print0 | xargs -0 -n1 php -l

      - name: Lint backup script
        run: bash -n plugins/CakeBackupPro/scripts/backup-manager.sh

